html {
	background: -webkit-linear-gradient(#ccc, #000);
	background: -moz-linear-gradient(#ccc, #000);
	background: -ms-linear-gradient(#ccc, #000);
	overflow-y: scroll;
}

body {
	font: 16px Arial;
	min-height: 100%;
}

h1 {
	font-weight: bold;
	text-align: center;
	color: #333;
	margin: 40px auto;
}

h2 {
	font-weight: bold;
	text-align: center;
	background-color: #333;
	color: #fff;
	width: 350px;
	margin: 20px auto 0;
	padding: 20px;
}

ul {
	padding-left: 20px;
}

section {
	background-color: #fff;
	margin: 0 auto 20px;
	padding: 20px;
	width: 350px;
}

section div {
	border: 1px solid #666;
	padding: 10px;
}

section div.example {
	background-color: #666;
	color: #fff;
	text-align: center;
	transition: all 0.5s;
}

section div.example:hover {
	cursor: pointer;
	transform: scale(1.2);
}

section div.example {
	margin-top: 10px;
}

section div.result {
	font-size: 0.8em;
}

section div.result pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

img.logo-title {
	vertical-align: middle;
}

div.container {
	width: 100%;
}

div.row {
	display: table;
  	margin: 0 auto;
}

div.wrapper-example {
	float: left;
	margin: 10px;
}

div.wrapper-example.reto h2 {
	width: 960px;
}

div.wrapper-example.reto section {
	font-size: 0.9em;
	width: 960px;
}